section {
    margin-bottom: 40px;
}

h2.title {
    margin-top: 35px;
    font-weight: 900;
    font-size: 28pt;
}

p.sub-title {
    margin-bottom: 40px;
}

/***************************** CAROUSEL *****************************/

section.header div.size-carousel {
    height: 100%;
    background-color: #131633;
}

section.header .text-carrocel {
    position: absolute;
    left: 300px;
    top: 80px;
    z-index: 100;
    opacity: 1;
    color: #ffffff;
    text-align: center;
}

.text-carrocel h1{
    font-size: 35pt;
    font-weight: 900;
    letter-spacing: 1.5px;
}
.text-carrocel h1 span{
    text-transform: uppercase;
    letter-spacing: 1px;
}
.text-carrocel h1 span.tomato-color{
    color: tomato;
}

.text-carrocel h2{
    font-size: 24pt;
    font-weight: 700;
    margin-bottom: 20px;
}

.text-carrocel p{
    font-size: 13pt;
    font-weight: 500;
    margin-bottom: 40px;
}

.text-carrocel a.btn-carrocel{
    color: #ffffff;
    font-size: 20pt;
    padding: 20px 30px;
    background-color: tomato;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}
.text-carrocel a.btn-carrocel:hover{
    text-decoration: none;
    background-color: #131633;
    border: 1px solid tomato;
}

.carousel-item img {
    opacity: 0.4;
}

.img-logo {
    width: 350px;
    position: absolute;
    top: 75px;
    right: 150px;
    z-index: 100;
    opacity: 1 !important;
}

/***************************** NOSSO SERVICO *****************************/

section.us-work .padding-row {
    padding: 0 5px;
}

section.us-work .img-wrapper {
    padding: 10px;
}

.img-wrapper img {
    padding: 2px;
    border: 2px solid #131633;
}

/***************************** TEAM *****************************/

section.team {
    background-color: #131633;
    color: #ffffff;
    padding-bottom: 40px;
    margin-bottom: 20px;
}

.team-member {
    margin: 0 15px;
    margin-top: 20px;
}

.team-member-info {
    padding: 10px 0 30px 0;
}

h4.team-member-name {
    font-size: 19px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-top: 2px;
}

h4.team-member-designation {
    text-transform: capitalize;
    color: #34c6d3;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 5px;
}

ul.social-list {
    list-style: none;
    padding-left: 0;
}

ul.social-list li {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 6px;
    margin-top: 6px;
}

ul.social-list i {
    font-size: 17px;
}

.icon-gray i {
    color: #64707b;
}

/***************************** LOCALIZACAO *****************************/

section.location .iframe-border {
    border-top: 2px solid #131633;
    border-bottom: 2px solid #131633;
}

/***************************** FOOTER *****************************/

.footer {
    background-image: url('img/Black-Wood-Footer-Background.jpg');
    background-size: cover;
    background-attachment: fixed;
    padding-top: 145px;
    padding-bottom: 120px;
}

.social-icon a {
    margin: 0 16px 20px 16px;
    display: inline-block;
}

.footer .fa {
    font-size: 30px;
    color: deepskyblue;
    background-color: white;
    width: 80px;
    height: 80px;
    line-height: 2;
    border: 10px solid #34495e;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: center;
    transition: all 0.7s ease-in-out;
}

.social-icon a:hover .fa {
    border-color: white;
    transform: rotate(360deg);
}

.copyright {
    color: white;
}

.copyright .border-bottom {
    background-color: white;
    width: 50px;
    height: 3px;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 20px;
}