@charset "utf-8";

@font-face{
    font-family: 'fonte-home';
    src: url(../_fonte/Lobster/Lobster-Regular.ttf);
}

@font-face{
    font-family: 'fonte-servicos';
    src: url(../_fonte/Bebas_Neue/BebasNeue-Regular.ttf);
}

/*Estilização da navbar*/
nav#menu{
    position: fixed;
    z-index: 10000;
    background-color: rgb(11, 13, 37);
    height: 70px;
    width: 100%;
}

nav#menu ul{
    width: 100%;
    height: 70px;
    padding: 10px;
    text-align: center;
}

nav#menu ul li{
    width: 150px;
    color:tomato;
    display: inline-block;
    padding: 5px;
    margin-left: 2px;
    margin-top: 4px ;
    border-radius: 5px;
    font-family: 'fonte-home';
    font-size: 17pt;
    cursor: pointer;
}

nav#menu ul li:hover{
    color: wheat;
}  
/*Estilização da navbar (fim)*/


/*Estilização do carrocel */
section#home .carousel-inner {
    padding-top: 70px;
}

.text-carrocel{
    position: absolute;
    width:550px;
    height: 350px;
    left: 240px;
    top: 70px;
    z-index: 100;
    opacity: 1;
}

.text-carrocel h1{
    text-transform: uppercase;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 40px;
    color:tomato;
    text-align: center;
    
}

.text-carrocel h2{
    text-transform: uppercase;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
}

.text-carrocel p{
    font-weight: bold;
    font-family: century;
    font-size: 18px;
    text-align: center;
}

.btn-carrocel{
    padding: 5px 25px;
    font-family:'fonte-home';
    font-size: 27px;
    text-align: center;
    color: tomato;
    background-color: rgb(11, 13, 37);
    transition: 1s;
    position: absolute;
    top: 270px;
    left: 20px;
} 

.btn-carrocel:hover{
    background-color: tomato;
    color: rgb(11, 13, 37);
}

.carousel-item img{
    opacity: 0.3;
}

 .img-logo{
     width: 350px;
     position: absolute;
     top:40px;
     left: 800px;
     z-index: 1000;
     
     opacity: 1 !important;   
}
/*Estilização do carrocel (fim)*/

/*Estiização section de serviços*/
section.bg-servico{
    background-color: rgb(11, 13, 37);
    padding: 30px 0;
}

.servico{
    position: relative;
    width: 1000px;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    border-bottom: 2px solid tomato;
}

.servico h1{
    font-size: 45pt;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.servico p{
    font-size: 18pt;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 800;
}
/*Estiização section de serviços (fim) */

/*Estilização do card*/
.servico-todas-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height:500px;
    margin-top: 20px;
}

.card{
    width: 400px !important; 
    margin: 0 5px;
}

.card-body a{
    position: absolute;
    bottom: 12px;
    background-color: rgb(11, 13, 37);
    color: white;
    border: none;
    box-shadow: 5px 5px 3px #000;

}
/*Estilização do card (fim)*/

/*Nosso trabalho */

.nossoTrabalho{
    width: 100%;
    height: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nt-textDiv{
    width: 1000px;
    height: 200px;
    position: relative;
    top: 25px;
    text-align: center;   
}

.nt-textDiv h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    color: rgb(11, 13, 37);
    font-size: 35pt;
}

.nt-textDiv p{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: rgb(11, 13, 37);
    font-size: 20pt;
}

/*Nosso travalho (fim)*/

/* ***** Album de fotos ***** */

.nt-albumDeFotos {
    margin-top: 40px;
}

.img-wrapper {
    overflow: hidden;
}

.img-wrapper img {
    transition: 0.5s ease;
}

.img-wrapper img:hover {
    opacity: 0.3;
    transform: scale(0.8);
    cursor: zoom-in;
}

.img-wrapper i {
    position: absolute;
    color: rgba(255, 99, 71, 0.6);
    padding: 5px 8px;
    font-size: 22px;
    right:6px;
    top: 6px;
    border: 1px solid rgba(255, 99, 71, 0.6);
    border-radius: 50%;
}
/* ***** Album de fotos ***** */


/*Seguradoras*/

.seguradoras{
    position: relative;
    width: 100%;
    height: 200px;

    background-color:rgb(11, 13, 37)
}


/*Seguradoras (fim)*/