@charset "utf-8";

@font-face{
    font-family: 'fonte-home';
    src: url(../_fonte/Lobster-Regular.ttf);
}

/*Estilização da navbar*/

nav#menu{
    background-color: rgb(11, 13, 37);
    height: 100px;
    width: 100%;
    border-bottom: 1.5px solid red;
}

nav#menu ul{
    width: 500px;
    height: 100px;
    display: block;
    float: right;
    padding: 10px;
    text-align: center;
    margin-right: 20px;
  
}

nav#menu ul li{
    background-color: tomato;
    display: inline-block;
    padding: 5px;
    margin-left: 2px;
    margin-top: 10px ;
    border-radius: 5px;
    font-family: 'fonte-home';
    font-size: 17pt;
    cursor: pointer;
}

nav#menu ul li:hover{
    color: wheat;
}

img#icon-home{
    width: 120px;
    display:inline-block;
    margin-left: 50px;
    margin-top: 10px;
    
}
/*Estilização da navbar (fim)*/


/*Estilização do carrocel */
div#carrocel-home{
    width: 100%;
    display: inline-block;
    margin-top: -17px;
}

.text-carrocel{
    position: absolute;
    width: 700px;
    height: 300px;
    left: 200px;
    top: 50px;
    z-index: 100;
    opacity: 1;
}

.text-carrocel h1{
    text-transform: uppercase;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 50px;
    color:tomato;
    
}

.text-carrocel h2{
    text-transform: uppercase;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 22px;
}

.text-carrocel h4{
    font-weight: bold;
    font-family: century;
    font-size: 18px;
}

.btn-carrocel{
    position: absolute;
    top: 310px;
    width: 500px;
    height: 43px;
    font-family:'fonte-home';
    font-size: 27px;
    text-align: center;
    color: tomato;
    background-color: rgb(11, 13, 37);
    border-radius: 20px;
    transition: 1s;
} 

.btn-carrocel:hover{
    background-color: tomato;
    color: rgb(11, 13, 37);
}

.carousel-item img{
    z-index: 0;
    opacity: 0.3;
}
/*Estilização do carrocel (fim)*/





