@charset "utf-8";

section#mapa{
    z-index: 10000;
}

.local{
    width: 100%;
    height: 500px;
    z-index: 10000;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.local iframe{
    z-index: 10000;
}